[submodule "tableutils"]
	path = tableutils
	url = https://github.com/okomarov/tableutils
[submodule "nanfillts"]
	path = nanfillts
	url = https://github.com/okomarov/nanfillts
[submodule "importFrenchData"]
	path = importFrenchData
	url = https://github.com/okomarov/importFrenchData